@model List<WebApplication.Models.ViewModels.PeopleViewModel>

@{
    ViewBag.Title = "Список друзей";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = ViewBag.userId;
}
<h2 style="text-align: center; display: flex">@Html.Partial("SmallUserLink_2", userId)&nbsp;&nbsp;Список&nbsp;друзей</h2>

<div class="row">
    <div id="userList">
        @Html.Partial("UsersList", Model)
    </div>
</div>
