@model List<WebApplication.Models.ViewModels.PeopleViewModel>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 500px">
    <h2 style="text-align: center">Пользователи</h2>
</div>
<div class="row">
    <div id="userList">
        @Html.Partial("UsersList", Model)
    </div>
</div>