
@model IQueryable<WebApplication.Models.ApplicationUser>

    @{
    ViewBag.Title = "Поиск";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        .modal-content {
            width: 600px !important;
            margin: 120px auto !important;
            margin-bottom: 0;
        }
    </style>

<div class="modal-body">
    <h1>Поиск</h1>
    <h4>Пользователь:</h4>

    @if (Model == null)
    {
        <div>Введите имя пользователя</div>
    }
    else
    {
        if (Model != null)
        {

        }
        foreach (var item in Model)
        {
            @Html.DisplayFor(model => item.UserName)
        }
    }
</div>
                  
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
