@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vladislav Manakov<br />
    Tomsk<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s28.morgan@gmail.com">s28.morgan@gmail.com</a><br/>
</address>
